*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	
	margin: 0 auto;
	max-width: 722px;
	min-width: 320px;
	
}
.heda{
	display: flex;
	height: 124px;
	line-height: 124px;
	background: #282828;
}
.heda a{
	color: #fff;
	font-size: 35px;
}
.heda a:nth-child(1){
	flex: 3;
	
}
.heda a:nth-child(2){
	flex: 9;
	text-align: center;
	/*justify-content: center;*/
}
.heda a:nth-child(3){
	flex: 2;
}
.heda a:nth-child(4){
	flex: 1;
}

/*导航区域样式*/
.nava ul{
	height: 94px;
	background: #444;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nava ul li{
	width: 20%;
	height: 94px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.nava ul li:nth-child(5){
	background: #ff283d;
}
.nava ul li a{
	color: #fff;		
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.nava ul li a span{
	color: #fff;
	font-size: 25px
}
.nava ul li a p{
	font-size: 15px
}
.nava ul li:hover{
	background: #ff283d;
}

.pic_ban img{
	width: 100%;
	display: block;
}


.xw_journey p{
	height: 134px;
	line-height: 134px;
	text-align: center;
	font-size: 40px;
	color: #000;
	border-bottom: 1px solid #000;
}
.xw_journey p a{
	color: #bfae92;
	font-weight: bold;
}
.xw_journey ol{	
	text-align: center;
	margin-top: 24px;
	font-size: 16px;
	color: #000;
}
/*新闻区域*/
.news{
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.news a{
	width: 48%;
	height: 642px;
	background: #f6f7f7;
	text-align: center;
	color: #000;
	margin-bottom: 20px;
}
.news a:hover{
	color: #777;
}

.news a img{
	width: 100%;
}

.news a p:nth-child(2){	
	font-size: 28px;
	margin-top: 32px;
	margin-bottom: 32px;	
}
.news a p:nth-child(3){
	font-size: 25px;
	margin-bottom: 130px;
}
.news a p:nth-child(3),span{
	color: #777;
}

.news a span:nth-child(4){
	font-size: 15px;
	margin-right: 15px;
}
.news a span:nth-child(5){
	font-size: 15px;
}

/*上下页区域*/
.news_next{
	display: flex;
	justify-content: center;
}
.news_next a{
	font-size: 30px;
	color: #666;
}
.news_next a:nth-child(1){
	width: 11%;
}
.news_next a:nth-child(2),
.news_next a:nth-child(10){
	width: 14%;
}
.news_next a:nth-child(3){
	color: #000;
	width: 4%;
}
.news_next a:nth-child(4),
.news_next a:nth-child(5),
.news_next a:nth-child(6),
.news_next a:nth-child(7),
.news_next a:nth-child(8),
.news_next a:nth-child(9){
	width: 4%;
}

/*底部*/
.xuanz{
	margin-top: 5px;
}
.xuanz ul{
	height: 1350px;
	background: #282828;
	text-align: center;
}
.xuanz ul li:nth-child(1) img{
	width: 100%;
}
.xuanz ul li:nth-child(2){
	font-size: 40px;
	color: #fff;
	margin-top: 110px;
	margin-bottom: 85px;
}
.xuanz ul li:nth-child(3){
	font-size: 20px;
	color: #aaa;
}
.xuanz ul li:nth-child(3) p{
	font-size: 25px;
	color: #bfae92;
}
.xuanz ul li:nth-child(3) p span{
	color: #282828;
}
.xuanz ul li:nth-child(4) input[type="text"]{
	width: 44%;
	height: 76px;
	background: #1a1a1a;
	color: #757575;
	font-size: 25px;
	padding-left: 20px;
	margin-top: 52px;
	margin-bottom: 26px;
}
.xuanz ul li:nth-child(5) input[type="text"]{
	width: 44%;
	height: 76px;
	background: #1a1a1a;
	color: #757575;
	font-size: 25px;
	padding-left: 20px;
}

.xuanz ul li:nth-child(6) input[type="button"]{
	width: 46.8%;
	height: 76px;
	background: #ff283d;
	color: #757575;
	font-size: 25px;
	margin-top: 28px;
	color: #fff;
	font-size: 25px;
	margin-bottom: 56px;
	
}
.xuanz ul li:nth-child(6) input[type="button"]:hover{
	background: #8b0000;
	cursor: pointer;
	
}

.xuanz ul li:nth-child(7) img{
	width: 46.8%;
}
.xuanz ul li:nth-child(8){
	font-size: 25px;
	color: #fff;
	margin-top: 30px;
}
.xuanz ul li:nth-child(9){
	font-size: 20px;
	color: #666;
}
.xuanz ul li:nth-child(10){
	font-size: 14px;
	margin-top: 84px;
	color: #666;
}
.xuanz ul li:nth-child(11){
	font-size: 14px;
	color: #666;
}


.footer{
	display: flex;
}
.footer a{
	flex: 1;
}
.footer a img{
	width: 100%;
}
